USE [master]
GO
/****** Object:  Database [ProjectDB]    Script Date: 18.01.2022 22:58:37 ******/
CREATE DATABASE [ProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18.01.2022 22:58:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StandartDuruslar]    Script Date: 18.01.2022 22:58:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandartDuruslar](
	[TabloId] [int] IDENTITY(1,1) NOT NULL,
	[IsNumarasi] [int] NOT NULL,
	[Baslangic] [datetime] NOT NULL,
	[Bitirme] [datetime] NOT NULL,
	[DurusNedeni] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.StandartDuruslar] PRIMARY KEY CLUSTERED 
(
	[TabloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UretimOperasyonBildirimleri]    Script Date: 18.01.2022 22:58:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UretimOperasyonBildirimleri](
	[TabloId] [int] IDENTITY(1,1) NOT NULL,
	[IsNumarasi] [int] NOT NULL,
	[Baslangic] [datetime] NOT NULL,
	[Bitirme] [datetime] NOT NULL,
	[ToplamSure] [decimal](18, 2) NOT NULL,
	[Statu] [nvarchar](max) NOT NULL,
	[DurusNedeni] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UretimOperasyonBildirimleri] PRIMARY KEY CLUSTERED 
(
	[TabloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StandartDuruslar] ON 

INSERT [dbo].[StandartDuruslar] ([TabloId], [IsNumarasi], [Baslangic], [Bitirme], [DurusNedeni]) VALUES (1, 3, CAST(N'2020-05-23T10:00:00.000' AS DateTime), CAST(N'2020-05-23T10:15:00.000' AS DateTime), N'Cay Molasi')
INSERT [dbo].[StandartDuruslar] ([TabloId], [IsNumarasi], [Baslangic], [Bitirme], [DurusNedeni]) VALUES (2, 3, CAST(N'2020-05-23T12:00:00.000' AS DateTime), CAST(N'2020-05-23T12:30:00.000' AS DateTime), N'Yemek Molasi')
INSERT [dbo].[StandartDuruslar] ([TabloId], [IsNumarasi], [Baslangic], [Bitirme], [DurusNedeni]) VALUES (3, 5, CAST(N'2020-05-23T15:00:00.000' AS DateTime), CAST(N'2020-05-23T15:15:00.000' AS DateTime), N'Cay Molasi')
SET IDENTITY_INSERT [dbo].[StandartDuruslar] OFF
GO
SET IDENTITY_INSERT [dbo].[UretimOperasyonBildirimleri] ON 

INSERT [dbo].[UretimOperasyonBildirimleri] ([TabloId], [IsNumarasi], [Baslangic], [Bitirme], [ToplamSure], [Statu], [DurusNedeni]) VALUES (4, 1, CAST(N'2020-05-23T07:30:00.000' AS DateTime), CAST(N'2020-05-23T08:30:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Uretim', N'')
INSERT [dbo].[UretimOperasyonBildirimleri] ([TabloId], [IsNumarasi], [Baslangic], [Bitirme], [ToplamSure], [Statu], [DurusNedeni]) VALUES (6, 2, CAST(N'2020-05-23T08:30:00.000' AS DateTime), CAST(N'2020-05-23T12:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Uretim', NULL)
INSERT [dbo].[UretimOperasyonBildirimleri] ([TabloId], [IsNumarasi], [Baslangic], [Bitirme], [ToplamSure], [Statu], [DurusNedeni]) VALUES (7, 3, CAST(N'2020-05-23T12:00:00.000' AS DateTime), CAST(N'2020-05-23T13:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Uretim', NULL)
SET IDENTITY_INSERT [dbo].[UretimOperasyonBildirimleri] OFF
GO
USE [master]
GO
